#cart img {
  height: 45px;
}

#cart {
  color: black;
  text-decoration: none;
  color: black;
  text-decoration: none;
  margin-left: 33px;
}

#card2 {
  background-color: #1c1c27;
}

option {
  color: #1c1c27;
}

#form {
	background-color: hsl(0, 0%, 100%);
}